@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style: none;
  outline: none !important;
}
body{
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  max-width: 100%;

} 
#root{
  max-width: 100%;

}
code {
  font-family: 'Roboto', sans-serif;
}
.overflow-auto{
  overflow:auto;
  height: calc(100vh - 60px);
}
.overflow-hidden{
  overflow:hidden;

}
.App{
  /* background-image: radial-gradient(circle farthest-corner at 10% 30%, rgba(70, 168, 255, 0.8) 0, #e88eff 90%); */
  max-width: 100%;
  transition: 1s;
}

a{
  text-decoration: none;
}
ul{
  list-style: none;
}
button{
  border: none;
  outline: none;
  cursor: pointer;
}
.display-none{
  display: none !important;
}

@import url("./components/body/project/users/Users.css");
@import url("./components/body/project/task/Task.css");
@import url("./components/calendar/Calendar.css");
@import url("./components/body/project/Project.css");
@import url("./components/body/project/settings/Settings.css");
@import url("./components/body/project/dashboard/ProjectDashboard.css");
@import url("./components/body/project/newtask/Newtask.css");
@import url("./components/body/newproject/Newproject.css");
@import url("./components/body/dashboard/Dashboard.css");
@import url("./components/body/events/companys/Companies.css");
@import url("./components/body/events/company/Company.css");
@import url("./components/body/events/admin/Admin.css");


@import url("./components/body/events/newevent/NewEvent.css");
@import url("./components/body/events/events/Events.css");


@import url("./components/chat/Chat.css");
@import url("./components/header/header.css");
@import url("./components/body/auth/auth.css");
@import url("./components/body/events/EventsIndex.css");
@import url("./css/item.css");

