.select-element{
    display: flex;
    align-items: center;
}
.select-text{
    margin-left: 5px;
    font-size: 16px;
}
.select-element svg{
    width: 16px;
    height:  16px;
}

textarea{
    padding: 5px;
}

.text-center{
    text-align: center;
}

span.span{
    color: white;
}


::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    background: #e0e0e0; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #0aa699; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: rgba(10, 166, 153, .5); 
    }
    
    .green-btn{
        background-color: #0aa699;
        color: white;
        font-size: 20px;
        display: block;
    padding: 5px 15px;
    font-weight: bold;
    transition: .5s;
    border: 2px solid #0aa699;
    }
    .green-btn:hover{
        background-color: white;
        color: #0aa699;
    }
    .black-btn{
        background-color: #1B1E24;
        color: white;
        font-size: 20px;
        display: block;
    padding: 5px 15px;
    font-weight: bold;
    transition: .5s;
    border: 2px solid #1B1E24;
    }
    .black-btn:hover{
        background-color: white;
        color: #1B1E24;
    }
    .danger-btn{
        background-color: #f35958;
        color: white;
        font-size: 20px;
        display: block;
    padding: 5px 15px;
    font-weight: bold;
    transition: .5s;
    border: 2px solid #f35958;
    }
    .danger-btn:hover{
        background-color: white;
        color: #f35958;
    }



    .Toastify__toast--error{
        background-color: #f35958 !important;
    }
    .Toastify__toast--success{
        background-color: #0aa699 !important;
    }

   
        @keyframes msg-btn {
            0%   { 
                background-color: #f35958;
                border-color: #f35958;
            }
  50% { 
      background-color: white;
      border-color: white; 
    }
  100% { 
      background-color: #f35958; 
      border-color: #f35958;
}

          }
          .unread-animation-btn {
            animation-iteration-count: infinite;
            animation-name: msg-btn;
            animation-duration: 2s;
        }
        /* @keyframes msg-body {
            0%   { 
                background-color: #2c2f37;

            }
  50% { 
      background-color: #f35958;

    }
  100% { 
      background-color: #2c2f37; 

}
        } */

        .react-datetime-picker__button:enabled:hover .react-datetime-picker__button__icon, .react-datetime-picker__button:enabled:focus .react-datetime-picker__button__icon{
            stroke: #0aa699 !important;
        }

        .react-date-picker__button:enabled:hover .react-date-picker__button__icon, .react-date-picker__button:enabled:focus .react-date-picker__button__icon{
            stroke: #0aa699 !important;

        }
        .react-calendar{
            font-weight: bold !important;
            color: #1B1E24 !important;
        }

        .react-calendar__tile--active{
            background-color: #0aa699 !important;
        }
        .react-calendar__navigation button{
            font-weight: bold !important;

            font-size: 20px;
        }

        .react-calendar__tile--now{
            background-color: #f35958 !important;
            color: white !important;
        }

        .react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus{
            background-color: #1B1E24 !important;
            color: white  !important;
        }

        .react-calendar__year-view__months *{
            /* font-size:16px !important; */
            font-weight: bold;
        }

        .react-calendar{
            border: 0 !important;
        }

        .react-datetime-picker__calendar{
            margin-top: 10px;
        }
        .react-date-picker__calendar{
            margin-top: 10px;

        }
        .date-picker{
            padding: 5px;
            background-color: white;
            border: 0px  !important;
        }
        .react-date-picker__wrapper{
            border: 0px  !important;

        }

        .react-calendar__navigation button:hover{
            background-color: #1B1E24 !important;
            color: white;
        }
        .react-date-picker *{
            font-weight: bold;

        }

        .react-datetime-picker__clear-button{
            display: none  !important;
        }
        .react-date-picker__clear-button{
            display: none  !important;
        } 