.select-element{
    display: flex;
    align-items: center;
}
.select-text{
    margin-left: 5px;
    font-size: 16px;
}
.select-element svg{
    width: 16px;
    height:  16px;
}








::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    background: #e0e0e0; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #0aa699; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #0aa6998f; 
    }
    
    .black-btn{
        background-color: #1B1E24;
        color: white;
        font-size: 20px;
        display: block;
    padding: 5px 15px;
    font-weight: bold;
    transition: .5s;
    border: 2px solid #1B1E24;
    }
    .black-btn:hover{
        background-color: white;
        color: #1B1E24;
    }
