.dashboard_page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
}

.dashboard_page-control {
  margin: 10px 0 0 10px;
}

.dashboard_projects {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin:10px 0;
  padding: 0 10px;
  gap: 10px;
}

.dashboard_project-card {
  display: flex;
  padding: 10px;
  max-width: 350px;
  width: 100%;
  flex-direction: column;
  background-color: #1B1E24;
}
.dashboard_project-card-body{
  margin-top: 10px;
  color: white;
  height: 100px;
  white-space: pre-line;
}

.dashboard_project-card-header-img {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}

.dashboard_project-card-header {
  display: flex;
  align-items: center;
}

.dashboard_project-card-header a{
  font-size: 16px;
  white-space: pre-line;
  
  font-weight: bold;
  color: white;
  text-transform: capitalize;
}
.dashboard_project-card-header a:hover{
  text-decoration: underline;
}

.dashboard_project-card-header-img img {
  position: absolute;
  transition: 0;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.dashboard_page-control{
  display: flex;
  gap: 10px;
  align-items: center;
}

.dashboard_page-control input{
  font-size: 20px;
  padding: 5px 5px;
  background-color: white;
  border: 2px solid white;
}
.dashboard_page-control input:focus{
  border: 2px solid #1B1E24;

}
