.approveMap{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    }

    .approve-block{
        background-color: #1B1E24;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 10px;
    }
    .approve-block-images{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        width: 100%;
    }

    .approve-block-images img{
        max-height: 200px;
        
    }
    .approve-block-title{
        font-size: 25px;
        font-weight: bold;
    }
    .approve-block-description {
        white-space: pre-wrap;
        font-size: 20px;
    }
    .approve-block-meta{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }

    .approve-block-control{
        display: flex;
        gap: 10px;
    }
    .nothingToApprove{
        text-align: center;
        padding: 20px;
        font-size: 30px;
        font-weight: bold;
    }
    .approve-block-link{
        color: #0aa699;
        text-decoration: underline;
    }

    .micro-transactions{
        display: flex;
        padding: 10px;
        flex-direction: column;
    }
    .micro-transactions > div{
        background-color: #1B1E24;
        color: white;
        padding: 10px;
        margin-bottom: 5px;
    }

    .micro-transactions-header a{
        color: white;
        text-decoration: underline;
    }
    .micro-transactions-header a:hover{
        text-decoration: none;

    }
    .micro-transactions-header{
        display: flex;
        font-size: 20px;
        justify-content: space-between;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .micro-transactions-metainfo{
        display: flex;
        justify-content: space-between;
    }
    .micro-transactions-metainfo a{
        color: white    ;
        text-decoration: underline;
    }
    .micro-transactions-metainfo a:hover{
        text-decoration: none;
    }