.chat-window {
    position: absolute;
    top:60px;
    height: calc(100vh - 60px);
    background-color: white;
    width: 100%;
    z-index: 10;
    display: grid;
    grid-template-columns: auto 1fr;
}

.chat-window-chooser{
    display: flex;
    border-right: 2px solid #1B1E24;
    flex-direction: column;
    height: calc(100vh -60px);
    overflow-y: auto;
}

.chat-chooser{
    display: grid;
    gap: 5px;
    padding:7px;
    border-bottom: 2px solid #1B1E24;
    background-color: #e5e9ec;
    grid-template-columns: auto 1fr;
    flex-direction: column;
}

.chat-chooser-title{
    font-weight: bold;
}

.chat-window-chooser{
    width: 300px;
    background-color:#e5e9ec;
}
.chat-chooser:hover{
    background-color: white;
    cursor: pointer;
    color: #0aa699;
}

.chat-chooser:hover img{
    border: 2px solid #0aa699;

}
.chat-chooser img{
    border: 2px solid #1B1E24;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
