.calendar-grid{
    margin: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.calendar-cell{
    background-color: rgba(27, 30, 36, .8);
    height: 250px;
}

.calendar-header{
    margin: 10px 10px 0;
}

.calendar-cell-header{
    padding: 5px;
    color: white;
    font-weight: bold;
}

.calendar-cell.active{
    background-color: rgba(27, 30, 36, .95);
}

.calendar-cell:hover {
    background-color: #0aa699;
    cursor: pointer;

}
.calendar-header{
    display: flex;
    gap: 10px;
}

.calendar-header .calendar-select{
    width: 250px;
    font-weight: bold;
}
.calendar-cell-task{
    background-color: white;

}

.calendar-cell-tasks-map{
    padding: 0 5px 5px;
    display: flex;
    gap: 5px;
    align-items: flex-start;
    flex-direction: column;
}
.calendar-cell-task{
    padding: 4px 10px 4px 6px;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-items: center;
    gap: 5px;
}
.calendar-task-title{

}


.calendar-cell-task .icon-shell{
    display: inline;
}
.calendar-cell-task .icon-shell{
    background-color: #1B1E24;
    padding: 4px;
    border-radius: 50%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.calendar-cell-task .icon-shell svg{
    height: 12px;
    width: 12px;
}

.priority-high{
    background-color: #f35958;
}

.priority-medium{
    background-color: orange;
}

.priority-low{
    background-color: green;
}

.calendar-cell-time{
    font-size: 10px ;
}

.task-form-row-add-users{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.task-form-row-add-users input{
    padding: 5px;
    width: 250px;
    font-size: 16px;
}