.calendar-grid{
    margin: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.calendar-cell{
    background-color: rgba(27, 30, 36, .8);
    height: 250px;
}

.calendar-header{
    margin: 10px 10px 0;
}

.calendar-cell-header{
    padding: 5px 5px 0;
    color: white;
    font-weight: bold;
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.calendar-cell.active{
	background: linear-gradient(-45deg, #7d1e01, #732644, #00364a, #781c00);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

.calendar-cell:hover ,.calendar-cell.active:hover{
    /* background: #0aa699 !important;
     */
    cursor: pointer;
	background: linear-gradient(-45deg, #1ac100, #e11c68, #1ea9dc, #dcd436);
    animation: gradient 5s ease infinite;
    background-size: 400% 400%;

    
}
.calendar-header{
    display: flex;
    gap: 10px;
}

.calendar-header .calendar-select{
    width: 250px;
    font-weight: bold;
}
.calendar-cell-task{
    background-color: white;

box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.43);
}


.ShowInnerSelectorBodyPrior .select-text{
    font-size: 12px;
}

.calendar-cell-tasks-map{
    padding: 5px 5px 5px;
    display: flex;
    gap: 5px;
    overflow: auto;
    max-height: calc(250px - 24px);
    align-items: flex-start;
    flex-direction: column;
}
.calendar-cell-task{
    padding: 4px 10px 4px 6px;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-items: center;
    gap: 5px;
}
.calendar-task-title{

}


.calendar-cell-task .icon-shell{
    display: inline;
}
.calendar-cell-task .icon-shell{
    background-color: #1B1E24;
    padding: 4px;
    border-radius: 50%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.calendar-cell-task .icon-shell svg{
    height: 12px;
    width: 12px;
}

.priority-high{
    background-color: #f35958;
}

.priority-medium{
    background-color: orange;
}

.priority-low{
    background-color: green;
}

.calendar-cell-time{
    font-size: 10px ;
}

.task-form-row-add-users{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.task-form-row-add-users input{
    padding: 5px;
    width: 250px;
    font-size: 16px;
}

.users_for_meeting{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}
.user_for_meeting-show{
    display: flex;
    gap: 10px;
    padding: 5px;
    align-items: center;
    background-color: white;
}

.user_for_meeting-show img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.user_for_meeting-show-info{
    display: flex;
    flex-direction: column;
}
.user_for_meeting-show-info-nickname{
    font-weight: bold;
}

.user_for_meeting-show svg{
    width: 40px;
    cursor: pointer;
    height: 40px;
}
.user_for_meeting-show svg:hover{
    fill: #f35958;
}














.ShowInner{
    display: grid;
    grid-template-columns: auto 1fr;
}
.ShowInnerSelectorHeader{
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
}
.ShowInnerSelectorHeaderBack{
    cursor: pointer;
    font-size: 20px;
    display: flex;
    font-weight: bold;
    gap: 5px;
    align-self: flex-start;
    align-items: center;
    padding: 0 5px 0 0 ;
    border-bottom: 2px solid transparent;
}


.ShowInnerSelectorHeaderBack:hover{
    color: #0aa699;
}
.ShowInnerSelectorHeaderBack:hover svg{
    fill: #0aa699;
}

.ShowInnerSelectorHeaderBack svg{
    height: 15px;
    width: 15px;
}
.ShowInnerSelectorHeaderDate{
    font-size: 20px;
    font-weight: bold;

}
.ShowInnerSelectorBodyBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ShowInnerSelectorBodyBottom span{
    justify-self: right;
}
.ShowInnerSelector{
    color: white;
    height: calc(100vh - 60px);
    overflow:auto;
    background-color: #1B1E24;
}
.ShowInner{
    height: calc(100vh - 60px);
}
.ShowInnerSelectorBody{
    padding-bottom: 5px;
}
.ShowInnerSelectorBodyTitle{
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    padding-bottom: 5px;
}
.ShowInnerSelectorBodySelectTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.ShowInnerSelectorBodySelectTitle span{
    align-self: flex-end;
    font-size: 12px;
}
.ShowInnerSelectorBodySelectTop{
    display: flex;
    align-items: center;
    gap: 5px;
}   
.ShowInnerSelectorBodySelect{
    padding: 5px;
    background-color: white;
    color: #1B1E24;
    font-weight: bold;
    width: 300px;
    flex-direction: column;
    display: flex;
}

.ShowInnerSelectorBodySelect svg{
    width: 30px;
    height: 30px;
}
.ShowInnerSelectorBodyMap{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.ShowInnerSelector{
    padding: 5px;
    overflow:auto;
}

.ShowInnerSelectorBodyProjectName{
    font-size: 12px;
}


.ShowInnerSelectorBodySelect{
    transition: .5s;
    cursor: pointer;
}
.ShowInnerSelectorBodySelect:hover{
    background-color: #0aa699;

}