.comapny-about{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

.comapny-about *{
    color: #1B1E24;
}
.comapny-about-head{
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: auto 1fr;
    align-items: center;
}
.comapny-about-head-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.company-about-head-title{
    font-size: 25px;
    font-weight: bold;
}
.comapny-about-head-img img{
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.comapny-about-body{
    margin-top: 10px;
    font-size: 20px;
  white-space: pre-line;

}

.comapny-settings{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.transaction-line{
    background-color: #1B1E24;
    padding: 10px;
    margin-bottom: 10px;
}

.transaction-line a{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.transaction-line-top-line{
    display: flex;
    color: white;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-between;
}
.transaction-line-meta{
    display: flex;
    padding-top: 5px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}