.header{
    display: grid;
    position: relative;
    padding: 10px;
    width: 100%;
    height: 60px;
    gap: 20px;
    align-items: center;
    font-weight: bold;
    background-color: #1B1E24;
    grid-template-columns:auto 1fr;
}
.header a{
    color: white;
}


.header-body-content-left{
    display: flex;
    align-items: center;
}
.header-body-content-left a{
    font-size: 20px;
    margin-right: 20px;
}

.header-body-content-right .link{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}
.header-body-content-right{
    display: flex;
    gap: 10px;
}
.header-body-content-right a{
    font-size: 20px;
    transition: .5s;
    display: grid;
    justify-items: center;
    align-items: center;
    
    color: #1B1E24;
    font-weight: bold;
    border: 2px solid white;
    background-color: white;
}
.header-body-content-right a:hover{
    border: 2px solid #0aa699;
    background-color: #1B1E24;
    color: #0aa699;

}
.header-body-content{
    display: flex;
    justify-content: space-between;
}

.header-logo{
    color: #85cfbf;
    font-size: 30px;
}
.open-chat-btn{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 40px;
    width: 40px;
    transition: .5s;
    border: 2px solid white;
}
.open-chat-btn:hover{
    border: 2px solid #0aa699 !important;
    background-color: #1B1E24 !important;
}
.open-chat-btn:hover svg{
    fill: #0aa699 !important;
}
.open-chat-btn svg{
    fill:#1B1E24;
    display: block;
    width: 30px;
    height: 30px;
}
.header-body-content-right a.acc-control{
    height: 40px;
    width: 40px;
    padding: 0;
    transition: 0s;
    border: 1px solid white;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}



.header-body-content-right a.acc-control:hover{
    border: 1px solid #0aa699;
}

.header-body-content-right a.acc-control img{
    position: absolute;
    transition: 0;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%,-50%);
    height: 40px;
}
.header-menu-btn{
    height: 40px;

    display: grid;
    justify-items: center;
    transition: .5s;
    align-items: center;
    justify-content: center;
    width: 40px;
    border: 2px solid white;
    background-color: white;
}

.task-form-row-input{
    font-size: 16px;
    width: 100%;
    color: #333333;
    padding: 5px;
}
.header-menu-btn:hover{
    background-color:#1B1E24;
    border: 2px solid #0aa699;

}

.task-form-row-title{
    padding-bottom: 5px;
}


.header-menu-btn svg{
    fill:#1B1E24;
    display: block;
    width: 30px;
    height: 30px;
}
.header-menu-btn:hover svg{
    fill: #0aa699;
}

.header-chat-container{
    position: relative;
}