.new-task-photo-control-shell.select-photo {}

.new-task-photo-control-shell.select-photo:hover {
    border-color: #1B1E24;
}

.task-body-photo-container {
    display: grid;
    min-height: calc(100vh - 60px);
    background: rgba(27, 30, 36, .5);
    justify-items: center;
    align-items: center;
    position: relative;
    padding: 10px;
}

.task-body-photo-container img {
    max-width: 100%;
    max-height: 100%;
}

.task-body-photo-container svg {
    fill: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;

}

.task-body-photo-container svg:hover {
    fill: #f35958;
}

.task-body {
    padding: 10px ;
    display: grid;
    align-items: center;
    justify-items: left;
}

.task-body-title {
    font-size: 35px;
    font-weight: bold;
}

.task-body-description {
    white-space: pre-wrap;
    font-size: 20px;
    padding-bottom: 10px;
}

.task-body-meta .select-text {
    font-size: 20px;
}

.task-body-meta .select-element svg {
    height: 25px;
    width: 25px;
}
.new-task-photo-control {
    padding-bottom: 5px;
}

.task-body-update-info {
    font-size: 22px;
}

.comments-section{
    padding: 10px;
    max-width: 100%;
}

.task-body-meta {
    display: flex;
    gap: 10px;
}
.task-body-control{
    gap: 10px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.task-body-worker{
    padding-top: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}
.task-body-worker-img-body{
    height: 50px;
    width: 50px;
    padding: 0;
    transition: 0s;
    border: 1px solid #1B1E24;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.task-body-worker-img-body img{
    height: 100%;
}
.task-body-meta-body{
    display: grid;
    gap: 10px;
    align-items: center;
    grid-template-columns: auto auto;
}
.task-body-meta-body-left{
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.comments-section-title{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 5px;
}

.comment-body{

}

.comment-body{
    background-color: #1B1E24;
    padding: 5px 10px 5px 5px;
    display: grid;
    gap: 5px;
    border-radius: 4px;

    color: white;
    grid-template-columns: auto 1fr auto;
}
.comment-body-exact{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.comments-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 100%;
}

.comments-list{
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.comments-image{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
    overflow: hidden;
}
.comment-body-nickname{
    font-weight: bold;
    max-width: 100%;
}

.comment-body-description{
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 100%;
}

.comments-image img{
    position: absolute;
    height: 100%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.comment-control{
    display: grid;
    padding-left: 5px;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 5px
}

.comment-control svg{
    display: block;
}

.comment-control button{
    width: 30px;
    border-radius: 4px;
    height: 30px;
    display: grid;
    justify-items: center;
    align-items: center;

}
.comment-control button svg{
    transform: translate(.5px, 0);
}
.comment-control button.edit:hover{
    background-color: #0aa699;
}
.comment-control button.drop:hover{
    background-color: #f35958;
}